.px50-separator

.row
  .small-10.columns.small-centered
    - if devise_error_messages! != ''
      .alert-box.radius
        %p
          = devise_error_messages!

    .panel.radius.center
      %h2 Olvide mi contrasena
      .px10-separator

      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

        .row.collapse
          .small-9.columns
            = f.email_field :email, :autofocus => true
          .small-3.columns
            = f.label :email, class: 'postfix radius'

        .row.collapse
          .small-9.columns
            = f.password_field :password
          .small-3.columns
            = f.label :password, class: 'postfix radius'

        .row.collapse
          .small-9.columns
            = f.password_field :password_confirmation
          .small-3.columns
            = f.label 'Confirma tu Password', class: 'postfix radius'

        .px20-separator
        %div
          = f.submit 'Resetear mi contrasena', class: 'button'
