#footer
  .container
    .row
      .col-lg-3
        .title
          %b
            Sobre MePaseasteUY
        = link_to 'Acerca De', about_index_path, class: 'link'

      .col-lg-3
        .title
          %b
            Trabajo de Investigación Académica
        = link_to 'The Malva Project', 'http://themalvaproject.github.io', class: 'link'
        = link_to 'Investigación Formal - Facultad de Ingeniería', 'http://www.fing.edu.uy/inco/grupos/cecal/hpc/AG-Taxi/index.php', class: 'link'
        = link_to 'Informe y Archivos anexos a la Investigación', 'http://www.fing.edu.uy/inco/grupos/cecal/hpc/AG-Taxi/EATaxi.tar.gz', class: 'link'
        = link_to 'Computación Evolutiva', '/about/ga'

      .col-lg-3
        .title
          %b
            Redes Sociales
        = link_to 'Twitter', 'http://twitter.com/MePaseasteUY', class: 'link'
        = link_to 'Facebook', 'http://facebook.com/MePaseasteUY', class: 'link'

      .col-lg-3
        .title
          %b
            Contacto
        = link_to 'Contáctanos', 'mailto:gabriel.fa07@gmail.com', class: 'link'

#under-footer
  .container
    .row
      .col-xs-3
      .col-xs-6.centered
        = link_to 'Acerca De', about_index_path
      .col-xs-3