#header
  .contain-to-grid
    %nav.top-bar{ 'data-topbar' => '' }
      %section.header-text.top-bar-section
        %ul
          %li= link_to 'Home', root_path
          - if current_user
            %li= link_to 'Perfil', '/profile'
        %ul
          %li= link_to 'Acerca De', '/about'
          - if current_user
            %li
              %a{'data-method' => 'delete', :href => '/users/sign_out', rel: 'nofollow'}
                %img{ height: '15px', src: '/icon/signout.png', style: 'background-color: #333333', width: '15px' }

  .row
    .large-12.columns.center
      %a{href: root_path}
        = image_tag 'home/logo.png', class: 'logo'

    - if current_user.present?
      = render partial: 'shared/botones'