.px20-separator

- if current_user.blank?
  .row
    .small-10.small-centered.columns
      .panel.radius
        %p.center
          %a{href: new_user_session_path}
            Registrate o Inicia Sesion
          para almacenar destinos usuales, acceder a nuevas funciones y mas!

.px10-separator

.row
  .large-12.columns
    = render template: 'shared/map'

.row
  .large-12.columns.hide
    = render template: 'shared/maptable'

.px20-separator
.px10-separator

.full-green-upper-line
.grey-background
  .px20-separator
  .row
    .small-4.columns
      .full-yellow-upper-line
      -# Opciones
      .panel.radius
        .row
          .small-12.columns.center
            %p
              Selecciona el tipo de viaje
            .switch.round
              %input{id: 'tarifa_diurna', name: 'switch_accurance', type: 'radio', checked: 'true'}
              %label{for: 'tarifa_diurna', onclick: ''}
                Dia
              %input{id: 'tarifa_nocturna', name: 'switch_accurance', type: 'radio'}
              %label{for: 'tarifa_nocturna', onclick: ''}
                Noche
              %span

    .small-8.columns
      .full-red-upper-line
      .panel.radius
        .row
          .small-4.columns.center
            #query-img
              = image_tag '/img/query.png'
          .small-4.columns.center
            = image_tag '/img/target.png'
          .small-4.columns.center
            = image_tag '/img/imac.png'

  .row
    .small-10.small-centered.columns
      %a{ onclick: 'sendData();' }
        .enviar-datos.panel
          Realizar la consulta
          .texto-chico
            Ten paciencia, según la cantidad de marcadores la consulta puede demorar entre 5 y 10 segundos.


.px50-separator

.row
  .large-4.columns.center-text
    %a{ href: marketplace_path }
      = image_tag 'home/fst_frame.png'
  .large-4.columns.center-text
    = image_tag 'home/second_frame.png'
  .large-4.columns.center-text
    %a{ href: international_path }
      = image_tag 'home/third_frame.png'

- if current_user.blank?
  = render template: 'shared/android'
- else
  = render template: 'shared/destinosusuales'


:erb
  <div id="myModal" class="reveal-modal" data-reveal>
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  It is mine.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

:javascript
  $('#query-img').mouseenter(function(){
    $('#query-img').html("<img src='/img/query-on.png'>")
  });

  $('#query-img').mouseout(function(){
    $('#query-img').html("<img src='/img/query.png'>")
  });


