.px20-separator

- if current_user.blank?
  .row
    .small-10.small-centered.columns
      .panel.radius
        %p.center
          %a{href: new_user_session_path}
            Registrate o Inicia Sesion
          para almacenar destinos usuales, acceder a nuevas funciones y mas!

.px10-separator

.row
  .large-12.columns
    = render template: 'shared/_map'

.px20-separator
.px10-separator

.full-green-upper-line
.grey-background
  .px20-separator
  .row
    .small-4.columns
      .full-yellow-upper-line
      -# Opciones
      .panel.radius
        .row
          .small-12.columns.center
            %p
              Selecciona el tipo de viaje
            .switch.round
              %input{id: 'tarifa_diurna', name: 'switch_accurance', type: 'radio', checked: 'true'}
              %label{for: 'tarifa_diurna', onclick: ''}
                Dia
              %input{id: 'tarifa_nocturna', name: 'switch_accurance', type: 'radio'}
              %label{for: 'tarifa_nocturna', onclick: ''}
                Noche
              %span

    .small-8.columns
      .full-red-upper-line
      .panel.radius
        .row
          .small-4.columns.center
            %a.has-tip{ href: '#', 'data-reveal-id' => 'modalDestinosIngresados', title: 'Has click para ver los destinos ingresados', 'data-tooltip' => '' }
              = image_tag '/img/query.png'
          .small-4.columns.center
            %a.has-tip{ href: '#', 'data-reveal-id' => 'modalDestinosUsuales', title: 'Has click para ver los destinos favoritos', 'data-tooltip' => '' }
              = image_tag '/img/target.png'
          .small-4.columns.center
            %a.has-tip{ href: '#', 'data-reveal-id' => 'modalHistorial', title: 'Revisa el historial de tus consultas', 'data-tooltip' => '' }
              = image_tag '/img/browser.png'

  .row
    .small-10.small-centered.columns
      %a{ onclick: 'sendData();' }
        .enviar-datos.panel
          Realizar la consulta
          .texto-chico
            Ten paciencia, según la cantidad de marcadores la consulta puede demorar entre 5 y 10 segundos.


.px50-separator

= render partial: 'home/ios'
= render partial: 'home/modals'

.hide
  = image_tag '/icon/start_marker.png'
  = image_tag '/icon/end_marker.png'