.px50-separator

.row
  .small-10.columns.small-centered
    .panel.radius.center
      %h2
        Aun no tienes cuenta?
        %br
        %a{href:new_user_registration_path}
          Registrate
        y empieza a disfrutar de todas las funciones que
        %a{href: root_url}
          MePaseaste.UY
        tiene para vos!

.row
  .small-10.columns.small-centered
    - if devise_error_messages! != ''
      .alert-box.radius
        %p
          = devise_error_messages!

    .panel.radius.center
      %h2 Iniciar Sesion
      .px10-separator

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row.collapse
          .small-9.columns
            = f.email_field :email, :autofocus => true
          .small-3.columns
            = f.label :email, class: 'postfix radius'

        .row.collapse
          .small-9.columns
            = f.password_field :password
          .small-3.columns
            = f.label :password, class: 'postfix radius'

        .px20-separator
        %div
          = f.submit 'Iniciar Sesion', class: 'button'

        .panel
          %a{href: new_user_password_path}
            Olvidaste tu contrasena?