.row
  .large-12.columns
    .full-yellow-upper-line
    .panel.radius
      %h3
        Para la consulta que has realizado, se #{ @query.solution.try(:length) == 1 ? 'formó' : 'formaron' } #{ @query.solution.try(:length) } #{ @query.solution.try(:length) == 1 ? 'taxi' : 'taxis' }.
        El costo total del viaje es de $#{ @query.costo_total.to_s }. La mejor distribución de personas y taxis, es la siguiente:
      %br
      %h3
        #formacion_taxis
          - if @query.solution
            - @query.solution.each_with_index do |taxi, index|
              .without_bottom_space.panel.light-grey.full-radius
                .row

                  -# DIV de información compartida
                  .small-4.columns
                    %a{ onclick: "calcRoute(#{ index })" }
                      .panel.full-radius.center
                        %a.has-tip{ href: '#', title: 'Has click dibujar la ruta de este taxi en el mapa', 'data-tooltip' => '' }
                          %img{ src: '/img/taxi-icon.png', width: '130px', height: '130px' }
                      .taxi_cost
                        $20

                  .small-2.columns
                    - if @query.taxi_name(taxi[0])
                      .panel.radius.center
                        Pasajero 1
                        %br
                        %br
                        .panel.full-radius
                          %a.has-tip.tip-bottom{ href: '#', title: 'Ubicar este pasajero en el mapa', 'data-tooltip' => '' }
                            %img{ src: '/img/passenger.png', width: '40px', height: '40px' }
                        .taxi_address
                          = @query.taxi_address(taxi[0])
                  .small-2.columns.center
                    - if @query.taxi_name(taxi[1])
                      .panel.radius
                        Pasajero 2
                        %br
                        %br
                        .panel.full-radius
                          %a.has-tip.tip-bottom{ href: '#', title: 'Ubicar este pasajero en el mapa', 'data-tooltip' => '' }
                            %img{ src: '/img/passenger.png', width: '40px', height: '40px' }
                        .taxi_address
                          = @query.taxi_address(taxi[1])
                  .small-2.columns.center
                    - if @query.taxi_name(taxi[2])
                      .panel.radius
                        Pasajero 3
                        %br
                        %br
                        .panel.full-radius
                          %a.has-tip.tip-bottom{ href: '#', title: 'Ubicar este pasajero en el mapa', 'data-tooltip' => '' }
                            %img{ src: '/img/passenger.png', width: '40px', height: '40px' }
                        .taxi_address
                          = @query.taxi_address(taxi[2])
                  .small-2.columns.center
                    - if @query.taxi_name(taxi[3])
                      .panel.radius
                        Pasajero 4
                        %br
                        %br
                        .panel.full-radius
                          %a.has-tip.tip-bottom{ href: '#', title: 'Ubicar este pasajero en el mapa', 'data-tooltip' => '' }
                            %img{ src: '/img/passenger.png', width: '40px', height: '40px' }
                        .taxi_address
                          = @query.taxi_address(taxi[3])

          - else
            Calculando.. Por favor espere.