.px20-separator

.row
  .large-12.columns
    %h2
      Resultados:

.px10-separator

= render template: 'data/generaldata'

.px10-separator

= render template: 'data/taxis'

.row
  .large-12.columns
    .panel.radius
      %h3
        Marcadores ingresados en el mapa:
        .px10-separator
      = render template: 'shared/map'

= render template: 'data/share'

- # Inicializamos el mapa
:javascript
  initialize(false);
- if @query.solution.nil?
  :javascript
    fileExists('/#{ @query.id }/raw_results.txt', #{ @query.id })
- @marcadores.each do |marcador|
  :javascript
    addMarkerToResultPage('#{ marcador.latitude }', '#{ marcador.longitude }', '#{ marcador.icon }');

- # Si la soluci칩n proviene de la base, creamos la estructura javascript de los taxis
- if @query.solution
  - @query.solution.each do |taxi|
    :javascript
       t = new Array();
    - taxi.each do |pasajero|
      :javascript
        t.push(#{ pasajero });
    :javascript
      taxis.push(t);

- # Agregamos los marcadores al arreglo global
- if @query.solution
  - @query.locations.each do |location|
    :javascript
      marker = new google.maps.Marker({
              draggable: false,
              position: new google.maps.LatLng('#{ location.latitude.to_s }', '#{ location.longitude.to_s }'),
              map: map,

              // App Variables
              markerId: #{ location.location_query_pos },
              nombre: 'nombre',
              icon: "#{ location.icon }",

              address: "#{ location.address }",

              // Esta secci칩n se usa para la parte est치ndar
              distancias_anteriores_raw: new Array(),
              distancias_anteriores_string: new Array(),

              tiempos_anteriores_raw: new Array(),
              tiempos_anteriores_string: new Array(),

              // Esta secci칩n se usa para la parte internacional
              costos_anteriores: new Array()
          });
      markers.push(marker);

- # Movemos la pantalla al mapa
:javascript
  $(".imagen-taxi").click(function() {
    $('html, body').animate({
      scrollTop: $("#map").offset().top - 100
    }, 800);
  });

