.px20-separator

.row
  .large-12.columns
    %h2
      Resultados:

.px10-separator

= render template: 'data/generaldata'

.row
  .large-12.columns
    .panel.radius
      %h3
        Marcadores ingresados en el mapa:
        .px10-separator
      = render template: 'shared/map'

.px10-separator

= render template: 'data/taxis'


:javascript
  initialize(false);
  fileExists('/#{ @query.id }/raw_results.txt')
- @marcadores.each do |marcador|
  :javascript
    addMarkerToResultPage('#{ marcador.latitude }', '#{ marcador.longitude }', '#{ marcador.icon }');

