.px20-separator

-# Titulo superior
.row
  .large-12.columns
    %h2
      Resultados:

.px10-separator

-# Datos generales
.row
  .large-12.columns
    .full-red-upper-line
    .panel.radius
      .row
        .small-4.columns
          .panel.radius
            .row
              .large-4.columns
                = image_tag '/img/costo.png'
              .large-8.columns
                %p El costo total del viaje es de $#{ @query.costo_total }. Para la solución has utilizado la tarifa #{ @query.tipo_tarifa }. Recuerda que puedes cambiar esto al momento de realizar la consulta.

        .small-4.columns
          .panel.radius
            .row
              .large-4.columns
                = image_tag '/img/cohete.png'
              .large-8.columns
                %p Partes de 1 lugar hacia #{ @query.cantidad_marcadores - 1 } destinos. La mejor opción requiere de tan solo #{ @query.solution.try(:length) } taxis. Utilizando esta solución lograrán el menor costo.

        .small-4.columns
          .panel.radius
            .row
              .large-4.columns
                = image_tag '/img/share.png'
              .large-8.columns
                %p Puedes compartir esta consulta con tus amigos si lo deseas, así ellos también podrán saber cual es el recorrido que realizarán.


.px10-separator

-# Sección de los taxis
= render template: 'data/taxis'


.row
  .small-12.columns
    = render template: 'shared/map'


-# Sección compartir
.row
  .large-12.columns
    .full-green-upper-line
    .panel.radius
      .center-text
        Puedes compartir con tus amigos la consulta.. (Completar)

      %br
      .row
        .large-4.large-offset-4.columns
          #buttonForModal.panel.radius.center.grey-background
            %div
            'Compartir'







- # Inicializamos el mapa
:javascript
  initialize(false);
- if @query.solution.nil?
  :javascript
    fileExists('/#{ @query.id }/raw_results.txt', #{ @query.id })
- @marcadores.each do |marcador|
  :javascript
    addMarkerToResultPage('#{ marcador.latitude }', '#{ marcador.longitude }', '#{ marcador.icon }');

- # Si la solución proviene de la base, creamos la estructura javascript de los taxis
- if @query.solution
  - @query.solution.each do |taxi|
    :javascript
       t = new Array();
    - taxi.each do |pasajero|
      :javascript
        t.push(#{ pasajero });
    :javascript
      taxis.push(t);

- # Agregamos los marcadores al arreglo global
- if @query.solution
  - @query.locations.each do |location|
    :javascript
      marker = new google.maps.Marker({
              draggable: false,
              position: new google.maps.LatLng('#{ location.latitude.to_s }', '#{ location.longitude.to_s }'),
              map: map,

              // App Variables
              markerId: #{ location.location_query_pos },
              nombre: 'nombre',
              icon: "#{ location.icon }",

              address: "#{ location.address }",

              // Esta sección se usa para la parte estándar
              distancias_anteriores_raw: new Array(),
              distancias_anteriores_string: new Array(),

              tiempos_anteriores_raw: new Array(),
              tiempos_anteriores_string: new Array(),

              // Esta sección se usa para la parte internacional
              costos_anteriores: new Array()
          });
      markers.push(marker);

- # Movemos la pantalla al mapa
:javascript
  $(".imagen-taxi").click(function() {
    $('html, body').animate({
      scrollTop: $("#map").offset().top - 100
    }, 800);
  });

