.row
  .large-12.columns
    .full-yellow-upper-line
    .panel.radius
      %h3
        Para la consulta que has realizado, se #{ @query.solution.try(:length) == 1 ? 'formó' : 'formaron' } #{ @query.solution.try(:length) } #{ @query.solution.try(:length) == 1 ? 'taxi' : 'taxis' }.
        El costo total del viaje es de $#{ @query.costo_total.to_s }. La mejor distribución de personas y taxis, es la siguiente:
      %br
      %h3
        #formacion_taxis
          - if @query.solution
            - @query.solution.each_with_index do |taxi, index|
              .panel.light-yellow.full-radius
                .taxi
                  .imagen-taxi{ onclick: "calcRoute(#{ index })" }
                    = image_tag '/img/taxi.png'
                  .texto-taxi
                    .taxi-interno-1
                      %img{ src: '/img/place.png', width: '30%' }
                      .text-bold
                        = @query.taxi_name(taxi[0])
                      %p
                        = @query.taxi_address(taxi[0])
                    .taxi-interno-2
                      %img{ src: '/img/place.png', width: '30%' }
                      .text-bold
                        = @query.taxi_name(taxi[1])
                      %p
                        = @query.taxi_address(taxi[1])
                    .taxi-interno-3
                      %img{ src: '/img/place.png', width: '30%' }
                      .text-bold
                        = @query.taxi_name(taxi[2])
                      %p
                        = @query.taxi_address(taxi[2])
                    .taxi-interno-4
                      %img{ src: '/img/place.png', width: '30%' }
                      .text-bold
                        = @query.taxi_name(taxi[3])
                      %p
                        = @query.taxi_address(taxi[3])


          - else
            Calculando.. Por favor espere.