.row
  .large-12.columns
    = render template: 'shared/_map'

= form_for @favourite_location do |f|
  .row.collapse
    .small-3.columns
      = f.label :name, class: 'prefix'
    .small-9.columns
      = f.text_field :name, placeholder: 'Ingresa el nombre del punto aquí..'

    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :latitude, id: 'latitude'
    = f.hidden_field :longitude, id: 'longitude'
    = f.hidden_field :address, id: 'address'
    = f.submit class: 'panel radius'