#queries{ 'ng-controller' => 'ResultsController' }
  .container
    .row.mt.centered
      .col-lg-6.col-lg-offset-3
        %h1 El costo total del viaje es de {{ totalCost }}

    .row.mt.centered
      .col-lg-4
        = image_tag 'queries/costo.png', width: '180'
        %h4 1 - Costo del viaje
        El costo total del viaje es de {{ totalCost }}
        Para la solución has utilizado la tarifa {{ rateType }}. Recuerda que puedes cambiar esto al momento de realizar la consulta.
      .col-lg-4
        = image_tag 'queries/cohete.png', width: '180'
        %h4 2 - Resumen de puntos geográficos
        Partes de 1 lugar hacia {{ markersCount }} destinos. La mejor opción requiere de tan solo {{ taxisCount }} taxis. Utilizando esta solución lograrán el menor costo en conjunto.
      .col-lg-4
        = image_tag 'queries/share.png', width: '180'
        %h4 3 - Comparte la consulta
        Puedes compartir esta consulta con tus amigos si lo deseas, así ellos también podrán saber cual es el recorrido que realizarán.
        .share
          %a Compartir

  .taxi-section
    .container
      .centered
        .mini-title TAXIS
        %h2 Se formaron los siguientes taxis:

      .row.mt.centered
        .col-sm-6.col-xs-12.taxi{ 'ng-repeat' => 'taxi in taxis' }
          %h4 Taxi {{ $index + 1 }}
          %hr
          %h5
            Este taxi se hará cargo de los pasajeros
            %b {{ pasajeros(taxi) }}
            siguiendo la ruta que se muestra a continuación.
          %hr
          %img{ 'ng-src' => '{{ staticMapImageUrl(taxi) }}' }
          %hr

  .map-section
    .container
      .row.mt.centered
        .mini-title MARCADORES
        %h2 Marcadores ingresados para esta consulta:
        = render partial: 'shared/map'


-#- # Inicializamos el mapa
-#:javascript
-#  initialize(false, #{ @query.solution.blank? });
-#- if @query.solution.nil?
-#  :javascript
-#    fileExists('/#{ @query.id }/raw_results.txt', #{ @query.id })
-#- @marcadores.each do |marcador|
-#  :javascript
-#    addMarkerToResultPage('#{ marcador.latitude }', '#{ marcador.longitude }', '#{ marcador.icon }', '#{ marcador.address }', '#{ marcador.location_query_pos }');
-#
-#- # Si la solución proviene de la base, creamos la estructura javascript de los taxis
-#- if @query.solution
-#  - @query.solution.each do |taxi|
-#    :javascript
-#       t = new Array();
-#    - taxi.each do |pasajero|
-#      :javascript
-#        t.push(#{ pasajero });
-#    :javascript
-#      taxis.push(t);