- # Archivo de perfil

- # Separamos 50 pixeles de la parte superior
.px50-separator

-#- # Barra superior con imagen
-#.row
-#  .small-12.columns
-#    .full-blue-upper-line-super
-#    .panel.radius.sidebar
-#      .row
-#        .large-4.columns
-#          = image_tag '/img/user.png'
-#
-#        .large-8.columns
-#          .px20-separator
-#          .nombre-sidebar.centered
-#            Gabriel Fagúndez de los Reyes
-#          .px20-separator
-#          .full-grey-line


.row
  - # Primer sidebar con ubicaciones recientes
  .large-6.columns
    - # Botones para crear
    .full-green-upper-line
    .panel.radius.box-crear
      %h3
        Crear nueva
      %br
      .full-grey-line
      .px20-separator
      .row
        .small-6.columns.centered
          %a.has-tip{ href: app_path, title: 'Realiza una nueva consulta', 'data-tooltip' => '' }
            = image_tag '/img/query.png'
        .small-6.columns.centered
          %a.has-tip{ href: '#', 'data-reveal-id' => 'modalHistorial', title: 'Revisa el historial de tus consultas', 'data-tooltip' => '' }
            = image_tag '/img/browser.png'

    - # Ubicaciones recientes
    .full-yellow-upper-line
    .panel.radius.box-ubicaciones
      %h3
        Ubicaciones más consultadas
      %br
      .full-grey-line
      .px10-separator
      - @locations.each do |location|
        = image_tag '/img/pin.png', width: '40px', height: '40px'
        = location.address != '' ? location.address : 'Dirección no determinada'
        %br

    - # Estadísticas de uso
    .full-blue-upper-line
    .panel.radius.box-estadisticas
      %h3
        Estadísiticas de uso
      %br
      .full-grey-line
      .px10-separator
      .row
        .small-2.columns.centered
          = image_tag '/img/graph.png'
        .small-10.columns
          .texto-estadisticas
            En total, has realizado #{ current_user.queries.count } consultas.
      .px10-separator
      .row
        .small-2.columns.centered
          = image_tag '/img/clock.png'
        .small-10.columns
          .texto-estadisticas
            Te uniste a MePaseaste.UY el día #{ current_user.created_at }.

  - # Segundo sidebar con consultas recientes
  .large-6.columns
    - # Panel de consultas
    .full-red-upper-line
    .panel.radius.box-consultas
      %h3
        Consultas recientes
      %br
      .full-grey-line
      %br
      - Query.recent_queries(current_user.id).each do |query|
        %a{ href: show_data_path(query_id: query.id) }
          %a.has-tip{ href: "/show_data?query_id=#{query.id}", class: 'tip-top', title: 'Has click ingresar a la consulta', 'data-tooltip' => '' }
            .panel.radius
              .row
                .small-3.columns
                  = image_tag '/img/box.png'
                .small-9.columns
                  %p
                    Cantidad de marcadores ingresados:
                    = "#{ query.cantidad_marcadores}"
                  %p
                    Tipo de la tarifa:
                    = "#{ query.tipo_tarifa}"
                  %p
                    - if query.shared
                      Esta consulta es pública. Puedes compartirla con tus amigos ingresando aquí:
                    - else
                      No has compartido esta consulta.
              .panel.radius.center-text
                Costo total del viaje:
                = "$#{ query.costo_total}"

  .large-6.columns


= render partial: 'data/modals'