<!DOCTYPE html>
<html>
<head>
  <title>MePaseaste.UY</title>

  <!--Favicon-->
  <link rel="icon" type="image/ico" href="favicon.ico" />

  <!--Foundation-->
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/foundation.css">

  <!--Google API-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!--Rails-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%- if controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>
      <style>
          body{
              background-image: url("/img/hp_background.jpg");
          }
      </style>
  <%- end %>

</head>

<% if controller_name == 'home' %>
    <body onload="initialize(true, false)">
<% else %>
    <body onload="">
<% end %>

    <div class="progress-indicator hide">
      <img src="/img/loading.gif">
    </div>

    <!--Header-->
    <%- if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'passwords' %>
        <%= render partial: 'shared/header' %>
    <%- else %>
        <%= render partial: 'shared/login_header' %>
    <%- end %>

    <!--Body-->
    <%= yield %>

    <!--Footer-->
    <%- if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'passwords' %>
        <%= render partial: 'shared/footer' %>
    <%- end %>


    <!--Foundation-->
    <script>
        $(document).foundation();
    </script>
</body>
</html>
